.card-columns
  - @pics.each do |pic|
    .card
      = link_to (image_tag pic.image.url(:medium)), pic, class: "card-img-top"
      .card-body
        %h5.card-title= link_to pic.title, pic
        %p.card-text= truncate(pic.description, length:100)

